.container{
    display: flex;
    justify-content: center;

}

.card{
    margin-top: 40px;
    margin-left: 20px;
    text-align: center;

}

.card-title{
    font-family: 'IBM Plex Serif', serif;
}

.card-text{
    font-family: 'IBM Plex Serif', serif;
}

@media (max-width: 1200px) {
    .card-title{
        font-size: 1em;
    }
    .card-text{
        font-size: 0.9em;
        
    }
    .btn-danger{
        font-size: 0.8em !important;

    }
    #PCT{
        font-size: 1.4em;
    }
    
}


.nav{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.nav-link{
    margin-right: 5px;
    margin-left: 5px;

}

/* .uno{
    background-color:rgb(252, 206, 2);
    
} */

/* .portada{
    max-height: 300px;
  
} */

/* .main{
    background-image:url(https://cdn.pixabay.com/photo/2020/04/08/16/32/keyboard-5017973__340.jpg);
    position: relative;
    height: 500px;
} */

.slider1{
    margin:0 !important;
    background-color: black;
}

@media(min-width:800px){
    .portada{
        max-height: 70vh;
    }
}

#PC:hover{
    color: rgb(252, 206, 2);
}

footer{
    margin-top: 40px;
    height: 100px;
    background-color: black;
}

#pf{
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 30px;
}

#PCT{
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    margin-top: 40px;
    font-size: 1.7em;


}